<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>

	<connectionStrings>
 
    <add name="LocalDbConnnectWithoutDbname" connectionString="server=127.0.0.1;port=3306;uid=jced;pwd=jced" providerName="MySql.Data.MySqlClient"/>

    <add name="RemoteDbConnnect" connectionString="server=10.6.201.5;port=3306;database=kdcdb;uid=kdcadmin;pwd=jced123;Allow User Variables = True" providerName="MySql.Data.MySqlClient"/>
  
    <add name="LocalDbConnnect" connectionString="server=127.0.0.1;port=3306;database=localdb;uid=jced;pwd=jced;Allow User Variables = True" providerName="MySql.Data.MySqlClient"/>

   
    <!--<add name="LocalDbConnnectWithoutDbname" connectionString="server=localhost;port=3306;uid=root;pwd=1234"
       providerName="MySql.Data.MySqlClient" />
    <add name="RemoteDbConnnect" connectionString="server=localhost;port=3306;database=originfo;uid=root;pwd=1234"
       providerName="MySql.Data.MySqlClient" />
    <add name="LocalDbConnnect" connectionString="server=localhost;port=3306;database=localinfo;uid=root;pwd=1234"
       providerName="MySql.Data.MySqlClient" />-->
    
    
 </connectionStrings>

    <!--<add name="OracleConn" connectionString="Data Source=KDCDB_localhost;Integrated Security=no;User ID=kdcadmin;Password=jced" providerName="System.Data.OracleClient"/>-->
   
    <!--１.NET Framework Data Provider for SQL Server

    标准模式：

    -->
		<!--<add name="sqlConnStr" connectionString="Data Source=myServerAddress;Initial Catalog=myDataBase;User Id=myUsername;Password=myPassword"/>-->
		<!--2.SQL Native Client OLE DB Provider 

    标准模式：

        例：Provider=SQLNCLI10;Server=192.168.1.7/lin(注意：后面要写服务器的实例名);Database=myDataBase;Uid=myUsername; Pwd=myPassword;
    -->
		<!--3.SQL Native Client ODBC Driver

    标准模式：-->
		<!--<add name="sqlConnStr" connectionString="Driver={SQL Server Native Client 10.0};Server=myServerAddress;Database=myDataBase;Uid=myUsername;Pwd=myPassword;"/>-->
		<!--4.SQLXMLOLEDB Provider

    标准模式：-->
		<!--<add name="sqlConnStr" connectionString="Provider=SQLXMLOLEDB.4.0;Data Provider=SQLNCLI10;Data Source=myServerAddress;Initial Catalog=myDataBase;User
    Id=myUsername;Password=myPassword"/>-->
  



  <runtime>
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
              <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
              <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369"/>
            </dependentAssembly>
            <probing privatePath="x86"/>
          </assemblyBinding>
  
  </runtime>

</configuration>
